body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Library.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}